$accent-color: #4985ff;
$accent-color-hover: #4178e6;
$black: #323232;
$grey-text-color: #757575;
$p-color: #999999;

body{
    background-color: rgb(17, 19, 31);
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}