$primary-color: #11131c;
$text-color: #ffffff;
$accent-color: #bfc1c8;
$font-family: Arial, sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  color: $text-color;
}

.footer__menu{
  padding-left: 0px;
}

.footer__text {
  color: $text-color;
}

.footer__icon {
  width: 40px;
  height: 40px;
  fill: #f6f5ef;


  &:hover {
    fill: $accent-color;

  }
}



.footer__icon__up {
  width: 30px;
  height: 30px;
  fill: #f6f5ef;

}

.footer__up{
  display: flex;
  justify-content: flex-end;
  // margin-left: 1100px;
}

.up__button {
  display: flex;
  justify-content: flex-end;
  border-radius: 8px;
  background: rgb(147, 171, 174);
  padding: 16px 16px;
}

.hr {
  border: 1px solid rgba(246, 245, 239, 0.2);
  width: 100%;
  margin-bottom: 64px;
}

.decor__footer {
  filter: blur(200px);
  /* light green */
  background: rgb(147, 171, 174);
  opacity: 0.9;
  position: absolute;
  width: 215px;
  height: 215px;
  left: 289px;
  top: 5765px;
}

.footer {
  background-color: $primary-color;
  padding: 20px 0;

  &__container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0 20px;
  }

  &__logo {
    display: flex;
    align-items: center;

    .footer__icon {
      width: 20px;
      height: 20px;
      margin-right: 10px;
    }



    .footer__text {
      font-weight: bold;
      font-size: 18px;
    }
  }




  .footer__cop {
    color: $accent-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 118%;
    letter-spacing: 3%;
  }

  .footer__bottom {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-top: 200px;
  }



  &__menu {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;

    li {
      margin-left: 30px;

      .footer__link {
        text-decoration: none;
        color: $text-color;
        transition: color 0.3s ease;

        &:hover {
          color: $accent-color;
        }
      }
    }
  }

  &__social {
    text-align: right;

    &-title {
      margin-bottom: 16px;
      font-size: 14px;
      color: $text-color;
      text-align: left;
    }

    .footer__icons {
      display: flex;
      justify-content: flex-end;



      .footer__social-link {
        display: inline-block;
        margin-left: 10px;
        color: $text-color;

        img {
          width: 24px;
          height: 24px;
          transition: transform 0.3s ease;

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }

  &__bottom {
    margin-top: 20px;
    text-align: center;
    font-size: 12px;
    color: $accent-color;

    .footer__privacy {
      color: $accent-color;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}



@media (min-width:768px) and (max-width:1219px) {
  .footer__menu {
    flex-direction: column;
    gap: 24px;


  }

  .footer__up{
    margin-left: 0px;
    justify-content: flex-end;
  }

  .decor__footer{
    top: 6300px;
  }
}

@media (min-width:320px) and (max-width:480px) {
  .footer__menu {
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    padding-left: 0px;
  }

  .footer__up{
    justify-content: flex-end;
  }

  .footer__container {
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
  }

  .m-40 {
    margin-bottom: 40px;
  }

  .footer__logo {

    align-items: center;
  }

  .footer__social {
    margin-top: 40px;
  }

  .footer__bottom {
    margin-top: 40px!important;
  }

  .decor__footer {
    display: none;
  }
}

// footer__menu